@use '../../styles/colors' as *;
.report-container{
    $figure-background: darken($primary-color, 10);
    &.hidden{
        display: none;
    }
    width: 100vw;
    background-color: $figure-background;
    height: 800px;
    position: relative;
    margin-bottom: 300px;
    &::before{
        content: '';
        border-radius: 100%;
        height: 350px;
        width: 110vw;
        background-color:$figure-background;
        display: block;
        position: absolute;
        bottom:-100px;
        left: -5vw;
        z-index: -1;
    }
}
.report{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5vw;
    height: 800px;
    &-explain{
        width: 45%;
        @media (max-width:678px) {
            width: 100%;
        }
        color: $background-color;
        h1{
            font-weight: 900;
            font-size: 4rem;
            margin-top: 0;
            @media (max-width:678px) {
                font-size: 2rem;
            }
        }
        h2{
            opacity: 0.8;
            font-size: 2rem;
            @media (max-width:678px) {
                font-size: 1.5rem;
            }
        }
    }
    &-form-container{
        background-color: $background-color;
        padding:70px;
        border-radius: 5px;
        box-shadow: 0 8px 15px rgba(160, 170, 188, .45);
        max-width: 75vw;
        @media (max-width:678px) {
            padding: 25px;
        }
        h3{
            font-size: 1.5rem;
            margin: 0;
            margin-bottom: 25px;
        }
    }
}
.report-form{
    min-width: 500px;
    @media (max-width:500px) {
        min-width: 100%;
        max-width: 100%;
    }
    input, textarea{
        font-size: larger;
        background-color: $background-color;
        border: none;
        border-bottom: 2px solid $text-color;
        transition: all .15s;

        &:focus{
            outline: none;
            border-bottom: 2px solid $primary-color;
            background-color:rgba(white, 0.7);
        }
    }
    div{
        height: 120px;
        padding: 15px;
        label{
            display: block;
            margin-bottom: 20px;
            font-size: large;
            .required-indicator{
                color: $danger-color;
                position: relative;
                &:hover::before{
                    content: 'Полето е задължително';
                    position: absolute;
                    left: 0;
                    top:0;
                    display: inline-block;
                    font-size: small;
                    width: 200px;
                    padding-left: 0.7rem;
                }
            }
        }
        input{
            width: 100%;
            line-height: 2rem;
            max-width: 70vw;
        }

    }
    .description-input{
        height: 300px;
        padding-bottom: 3rem;
        textarea{
            min-width: 474px;
            max-width: 474px;
            max-height: 250px;
            @media (max-width:474px) {
                min-width: 100%;
                max-width: 100%;
            }
        }
    }
    .call-to-action-button{
        display: block;
        width: 100%;
        cursor: pointer;
        box-shadow: none;
        padding:20px;
        font-size: larger;
    }
    .error{
        color: $danger-color;
        &::before{
            content: '*';
            margin-right: 10px;
        }
    }
}