$primary-color: #3e5fff;
$background-color: #EFF8FF; //#f8f9ff
$background-color-dark: #151823;
$text-color: #151823;
$text-color-light: #EFF8FF;
$accent-color: #D73000;
$danger-color: #F73334;
$success-color: #1BB754;

$risk-none-color: #5f9600;
$risk-low-color: #afc611 ;
$risk-medium-color:  #ffc302;
$risk-high-color: #e74404;
$risk-extreme-color: #b20811;
