.opinions-container{
    max-width: 1700px;
    margin: auto;
    h1{
    margin: 50px 20px;
    }
    .load-more-container{
        text-align: right;
        padding: 30px;
        button{
            font-size: large;
            cursor: pointer;
        }
    }
}
